$dark-blue: #3a405aff;
$light-blue: #aec5ebff;
$beige: #f9dec9ff;
$pink: #e9afa3ff;
$brown: #685044ff;

$light-background: $beige;
$dark-text: $dark-blue;

$dark-background: $dark-blue;
$light-text: $pink;
